
body {
  font-family: Arial, sans-serif;
}

@media print {

header, footer, nav, aside {
    display: none;
}

.tartalom1 {
	border:none;
}

video {
    display: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

p, h1, h2, h3, ul, li {
    color: black;
  }

.page-number {
    display: none;
  }
}
