
@media only screen and (max-width: 768px) {
	
html {
	background-image:none;
	background-color:black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:100%;
}
  body {
    font-size: 14px;
  }

	nav a {
		margin-left:2em;
		margin:0;
	}
	
	nav img{
		margin:0;
	}

  .tartalom1 {
    width: 125%;
	height:auto;
  }
  
  #fologo img{
	width: 50%;
	height: auto;		
	margin: 3em 1em 0em 1em;
}
}

@media only screen and (max-width: 480px) {
	html {
		background-image:none;
		background-color:black;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		height:100%;
}
  body {
    font-size: 12px;
  }
  
  	nav a {
		margin-left:1.5em;
		margin:0;
	}
	
	nav img{
		margin:0;
	}

  .tartalom1 {
    width: 125%;
	height:auto;
  }
  
  #fologo img{
	width: 50%;
	height: auto;		
	margin: 3em 1em 0em 1em;
}
}